@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff6666;
  padding: 2rem;
}

.containner {
  max-width: 40rem;
  width: 100%;
  background-color: #ffffff;
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
}
.heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

form label {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

form input,
select {
  width: 100%;
  height: 4rem;
  outline: none;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;

  border: 0.1rem solid #ccc;
}

.conversion {
  margin-top: 2rem;
}
select {
  width: 100%;
  height: 4rem;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  border: 0.1rem solid #ccc;
}
option {
  line-height: 2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
}

.to-seprator {
  /* text-align: center; */
  font-size: 2rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.exchangeResult {
  margin: 2.5rem 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
}
.getRate {
  height: 4.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: #ff6666;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  font-weight: 600;
}
